<div class="todo-list" >
  <form class="form-inline" ng-submit='submit(newToDo)'>
    <table class="todo-table">
      <tr>
        <td class='item-description'>
        <input class="form-control" type="text" placeholder="Input new item" id="new-todo" ng-model='newToDo' class='new-item'>
        </td>
        <td><button type="submit" class="btn btn-primary btn-submit-todo" >+</button></td>
      </tr>
    </table>
  </form>
  <table class="todo-table">
    <tr ng-repeat="todo in allToDos">
      <td>
      <input type='checkbox' ng-checked="{{ todo.completed }}" ng-click="toggleComplete(todo.itemDescription)"/></td>
      <td class="item-description">{{ todo.itemDescription }}</td>
      <td><button class="btn btn-primary" ng-click="removeItem(todo.itemDescription)">x</button></td>
    </tr>
  </table>
</div>
